<footer class="site-footer h-card">
		<data class="u-url" href="{{ site.baseurl }}/"></data>
			<div class="wrapper">
				<h2 class="footer-heading">{{ site.title }} overview</h2>
				<div class=" row">
					<div class=" col-sm-4">
						<ul class="contact-list">
							<li class="p-name">this pages repository</li>
							<li class="footer-li">
								<a class="u-email" href="https://github.com/{{ site.github_username }}{{ site.baseurl }}" target="_blank">
									<svg class="svg-icon">
										<use xlink:href="{{ site.baseurl }}/assets/minima-social-icons.svg#github"></use>
									</svg>
									{{ site.github_username }}{{ site.baseurl }}
								</a>
							</li>
							<li>Facebook</li>
							<li class="footer-li">
								<a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank">
									<svg class="svg-icon">
										<use xlink:href="{{ site.baseurl }}/assets/minima-social-icons.svg#facebook"></use>
									</svg>
									<span class="username">{{ site.facebook_username }}</span>
								</a>
							</li>
							<li class="p-name">mail</li>
							<li class="footer-li">
								<a class="u-email" href="{{ site.email }}">
									<img src="{{ site.baseurl}}/images/icons8-gmail-48.png" alt="mail_icon" class="icon_image">
									{{ site.email }}
								</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-3">
						<ul class="social-media-list">
							<li>GitHub</li>
							<li class="footer-li">
								<a href="https://github.com/{{ site.github_username }}" target="_blank">
									<svg class="svg-icon">
										<use xlink:href="{{ site.baseurl }}/assets/minima-social-icons.svg#github"></use>
									</svg>
									<span class="username">{{ site.github_username }}</span>
								</a>
							</li>
							<li>Twitter</li>
							<li class="footer-li">
								<a href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank">
									<svg class="svg-icon">
										<use xlink:href="{{ site.baseurl }}/assets/minima-social-icons.svg#twitter"></use>
									</svg>
									<span class="username">{{ site.twitter_username }}</span>
								</a>
							</li>
							<li>Qiita</li>
							<li class="footer-li">
								<a href="https://qiita.com/{{ site.qiita_username }}" target="_blank">
									<img src="{{ site.baseurl}}/images/qiita-icon.png" alt="qiita_icon" class="icon_image">
									<span class="username">{{ site.qiita_username }}</span>
								</a>
							</li>
							<li>SlideShere</li>
							<li class="footer-li">
								<a href="https://www.slideshare.net/{{ site.slideshare_username }}" target="_blank">
									<img src="{{ site.baseurl}}/images/slideshare-icon.png" alt="slideshare_icon" class="icon_image">
									<span class="username">{{ site.slideshare_username }}</span>
								</a>
							</li>
						</ul>
					</div>
		
					<div class="col-sm-5">
						<ul class="social-media-list">
							<li>school</li>
							<li class="footer-li">
								<a href="https://www.oic.ac.jp/" target="_blank">
									<img src="{{ site.baseurl}}/images/icons8-ok-48.png" alt="oic_icon" class="icon_image">
									<span class="username">大阪情報コンピュータ専門学校</span>
								</a>
							</li>
							<li>Powered by ITCreateClub</li>
							<li class="footer-li">
								<a href="https://itc.moe" target="_blank">
									<img src="{{ site.baseurl}}/images/itc_sticker@2x.png" alt="itc_icon" class="icon_image">
									<span class="username">itc.moe</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>