{% include head.html param=page.title %}
<body>
	<header class="index-header fixed-bg" role="banner">
		<div class="cover">
			<h1 class="index-title" >{{ site.title }}</h1>
		</div>
	</header>
	<main class="page-content" aria-label="Content">
		<div class="">
			<article>
				<section class="section-wrapper flex">
					<div class="col-sm-6">
						<h2 class="section-title">
							<a class="banner-link" href="{{ site.baseurl }}/about/">How About? <span class="link-arow">»</span></a>
						</h2>
					</div>
					<div class="col-sm-6 section-content">
						<p>履歴書代わりになったらいいな、と密かに目論んで作成したページです。</p>
					</div>
				</section>
				<section class="fixed-bg" id="section-1">
					<div class="cover flex">
						<h2 class="scroll-text">副部長です</h2>
					</div>
				</section>
				<section class="section-wrapper row flex">
					<div class="col-sm-6">
						<h2 class="section-title">History</h2>
						<p class="section-subtext">略歴・職歴(2017～)</p>
					</div>
					<div class="col-sm-6 section-content">
						<table class="table table-bordered">
							<tr>
								<th width="10%">year</th>
								<th width="90%">content</th>
							</tr>
							<tr>
								<td class="table-year">2018</td>
								<td></td>
							</tr>
							<tr>
								<td class="table-year">2018</td>
								<td>嵐を呼ぶジェネレータを公開</td>
							</tr>
							<tr>
								<td class="table-year">-</td>
								<td>フロントエンドカンファレンス2018にスタッフ参加<br>懇親会でLT登壇を果たす。</td>
							</tr>
							<tr>
								<td class="table-year">-</td>
								<td>Scala関西サミット2018にスタッフ参加</td>
							</tr>
							<tr>
								<td class="table-year">-</td>
								<td>その他<span class="show_button 2018">▼</span><span class="hide_button 2018">▲</span></td>
							</tr>
							<tr>
								<td class="hide_row 2018">2018</td>
								<td>Googl Homeアプリ開発に手をだす<br>「問おう、あなたが私のマスターか？『はい』『どちらでもない』『いいえ』で答えて」</td>
							</tr>
							<tr>
								<td class="hide_row 2018">-</td>
								<td>HACK U 2018 OSAKAに参加</td>
							</tr>
							<tr>
								<td class="hide_row 2018">-</td>
								<td>株式会社イー・サポートでアルバイトを開始</td>
							</tr>
							<tr>
								<td class="hide_row 2018">-</td>
								<td>PHP Conference関西2018にて学生スタッフ参加</td>
							</tr>
							<tr>
								<td class="hide_row 2018">-</td>
								<td>OIC学内特別奨励奨学生に選出</td>
							</tr>
							<tr class="hide_row 2018">
								<td class="table-year">-</td>
								<td>一眼レフカメラを購入</td>
							</tr>
							<tr class="hide_row 2018">
								<td class="table-year">-</td>
								<td>学内作品展に個人制作を出展</td>
							</tr>
							<tr class="hide_row 2018">
								<td class="table-year">-</td>
								<td>Open Source ConferenceにITCとしてブース出展</td>
							</tr>
							<tr>
								<td class="table-year">2017</td>
								<td>さくらインターネットさんDC見学に参加</td>
							</tr>
							<tr>
								<td class="table-year">-</td>
								<td>その他<span class="show_button 2017">▼</span><span class="hide_button 2017">▲</span></td>
							</tr>
							<tr class="hide_row 2017">
								<td class="table-year">-</td>
								<td>Kansai Open Forumにスタッフ参加<br>セミナーでLT枠登壇</td>
							</tr>
							<tr class="hide_row 2017">
									<td class="table-year">-</td>
									<td>サービス「PSO2OP電卓」を運用開始</td>
								</tr>
							<tr class="hide_row 2017">
								<td class="table-year">-</td>
								<td>高校生ICTConference 大学生ファシリテーター</td>
							</tr>
							<tr class="hide_row 2017">
								<td class="table-year">-</td>
								<td>株式会社ビューブリッジでPHPプログラマを開始</td>
							</tr>
							<tr class="hide_row 2017">
								<td class="table-year">-</td>
								<td>OIC オープンキャンパス スタッフ活動を開始</td>
							</tr>
							<tr class="hide_row 2017">
								<td class="table-year">-</td>
								<td>株式会社Divでプログラミング講師を開始</td>
							</tr>
							<tr class="hide_row 2017">
								<td class="table-year">-</td>
								<td>ITCreateClubに仮入部</td>
							</tr>
							<tr class="hide_row 2017">
								<td class="table-year">-</td>
								<td>大阪情報コンピュータ専門学校<br>
								総合情報メディア学科 入学</td>
							</tr>
							<tr class="hide_row 2017">
								<td class="table-year">-</td>
								<td>奈良県立奈良朱雀高校<br>
								情報工学科 卒業</td>
							</tr>
							<tr class="hide_row 2017">
								<td class="table-year">-</td>
								<td>寝台特急サンライズ出雲に乗ってClariSの武道館コンサートへ一人参戦</td>
							</tr>
							<tr>
								<td class="table-year">2016</td>
								<td>奈良県産業教育フェアに情報研究部として出展</td>
							</tr>
							<tr>
								<td class="table-year">-</td>
								<td>その他<span class="show_button 2016">▼</span><span class="hide_button 2016">▲</span></td>
							</tr>
							<tr class="hide_row 2016">
								<td class="table-year">-</td>
								<td>2回目のFE試験を受験。午前合格、午後58.30点で不合格。</td>
							</tr>
							<tr class="hide_row 2016">
								<td class="table-year">-</td>
								<td>酷道308号線暗峠 原付超えチャレンジ成功</td>
							</tr>
							<tr class="hide_row 2016">
								<td class="table-year">-</td>
								<td>高校生ICTConference 2016 in大阪・奈良に参加</td>
							</tr>
							<tr class="hide_row 2016">
								<td class="table-year">-</td>
								<td>小型特殊自動車運転免許を取得。<br>
								※この後取得した普通自動車免許の下位になるのでこちらに記載。</td>
							</tr>
							<tr class="hide_row 2016">
								<td class="table-year">-</td>
								<td>高校の中学生向けオープンキャンパスにて、「アミッドスクリーン」方式で初音ミクを召喚。</td>
							</tr>
							<tr class="hide_row 2016">
								<td class="table-year">-</td>
								<td>OSC京都に参加。<br>
								ITCの元部長である森本先輩に初めて会う。</td>
							</tr>
							<tr>
								<td></td>
								<td style="text-align: right;">And More...</td>
							</tr>
						</table>
					</div>
				</section>
				<section class="section-wrapper flex row">
					<div class="col-sm-6 mobile-only">
							<h2 class="section-title">License</h2>
							<p class="section-subtext">これまでに取得した資格です。</p>
						</div>
					<div class="col-sm-6 section-content">
						<table class="table table-bordered">
							<tr>
								<td>基本情報技術者</td>
							</tr>
							<tr>
								<td>C言語検定3級</td>
							</tr>
							<tr>
								<td>3級陸上特殊無線技士</td>
							</tr>
							<tr>
									<td>普通自動車・普通自動二輪車運転免許</td>
							</tr>
							<tr>
									<td>小型車両系建設機械の操作に係る講習 修了</td>
							</tr>
							<tr>
									<td>ITパスポート</td>
							</tr>
							<tr>
									<td>3級情報配線施工技能士</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-6 browser-only">
						<h2 class="section-title">License</h2>
						<p class="section-subtext">これまでに取得した資格です。</p>
					</div>
				</section>
				<section class="fixed-bg" id="section-2">
					<div class="cover flex">
						<h2 class="scroll-text scroll-text-2lines">好きなもの:睡眠<br>苦手なもの:睡魔</h2>
					</div>
				</section>
				<section class="section-wrapper flex">
					<div class="col-sm-6">
						<h2 class="section-title">Service</h2>
						<p class="section-subtext">kakimotoが公開したサービスを載せます。</p>
					</div>
					<div class="col-sm-6 section-content">
						<div class="service_parts">
							<h3>
								<a class="banner-link" target="_blank" href="https://afterschoolstudy.github.io/generator_of_call_a_storm/dist/">
									嵐を呼ぶサブタイトルジェネレータ<span class="link-arow">»</span>
								</a>
							</h3>
							<p>
								嵐を呼ぶ春日部市の超個性派5才児が登場するアニメのサブタイトルみたいな画像を作成してTweetできるサービスです。
							</p>
						</div>
						<div class="service_parts">
							<h3>
								<a class="banner-link" target="_blank" href="https://nnn-kakimoto.github.io/study_jekyll_on_ghp/">
									jekyllハンズオン的なやつ <span class="link-arow">»</span>
								</a>
							</h3>
							<p>
								このページを生成しているのがjekyllという静的ページジェネレータで、後輩の一人が教えてほしいということで、せっかくなので
								備忘録がてら公開したページです。
							</p>
						</div>
						<div class="service_parts">
							<h3>
								<a class="banner-link" target="_blank" href="https://pso2op-calc.herokuapp.com/">
									PSO2OP電卓 <span class="link-arow">»</span>
								</a>
							</h3>
							<p>
								SEGAのMMORPG「ファンタシースターオンライン2(PSO2)」での武器・ユニットに付加するオプションステータスの計算ツールです。<br>
								herokuの時間オーバーで止まっちゃったらごめんなさい。<br>
								あと、更新は止まってます。
							</p>
						</div>
					</div>
				</section>
				<section class="section-wrapper flex row">
						<div class="col-sm-6 mobile-only">
								<h2 class="section-title">Media</h2>
								<p class="section-subtext">Kakimotoがこれまでに出たメディアです。</p>
							</div>
						<div class="col-sm-6 section-content">
							<div class="service_parts">
								<h3>
									<a class="banner-link" target="_blank" href="https://shingakunet.com/gakko/SC001983/campusLife/9001231909/">
										スタディサプリ進路｜在校生レポート <span class="link-arow">»</span>
									</a>
								</h3>
								<p>学校に言われるがまま載りました。特にコメントはないです。</p>
							</div>
							<div class="service_parts">
								<h3>
									<a class="banner-link" target="_blank" href="https://www.oic.ac.jp/news/details.html?tid=349">
										OIC｜2018年度入学式挙行 <span class="link-arow">»</span>
									</a>
								</h3>
								<p>学校に言われるがまま喋りました。特にコメントはないです。</p>
							</div>
							<div class="service_parts">
								<h3>
									<a class="banner-link" target="_blank" href="http://www.javada.or.jp/jyakunen20/10_taikai.html">
										第10回若年者ものづくり競技大会<span class="link-arow">»</span>
									</a>
								</h3>
								<p>高校時代出場しました。「入賞者一覧」の一番下、「ロボットソフト組み込み」の職種で銀賞をいただきました。</p>
							</div>
							<div class="service_parts">
								<h3>
									<a class="banner-link" target="_blank" href="http://www.javada.or.jp/jyakunen20/11_taikai.html">
										第11回若年者ものづくり競技大会<span class="link-arow">»</span>
									</a>
								</h3>
								<p>高校時代出場しました。「入賞者一覧」の一番下、「ロボットソフト組み込み」の職種で敢闘賞をいただきました。</p>
							</div>
						</div>
						<div class="col-sm-6 browser-only">
							<h2 class="section-title">Media</h2>
							<p class="section-subtext">Kakimotoがこれまでに出たメディアです。</p>
						</div>
					</section>
			</article>
		</div>
	</main>
	{% include footer.html %}
</body>
<script src="{{ site.baseurl }}/js/jquery-3.2.1.min.js"></script>
<script>
$(function(){
	//console.log('test');
	$('.banner-link').hover(function(){
		//console.log('hober');
		$(this).find('.link-arow').css('color', 'lightgray');
	},
	function(){
		$('.banner-link').find('.link-arow').css('color', 'gray');
	});

	$('.show_button').click(function(){
		var classes = $(this).attr('class').split(' ');
		var year = classes[1];
		// console.log(classes);
		// console.log(year);
		$('.show_button'+'.'+year).hide();
		$('.hide_button'+'.'+year).css('display', 'inline');
		$('.hide_row'+'.'+year).css('display', 'table-row');
	});
	$('.hide_button').click(function(){
		var classes = $(this).attr('class').split(' ');
		var year = classes[1];
		$('.show_button'+'.'+year).css('display','inline');
		$('.hide_button'+'.'+year).hide();
		$('.hide_row'+'.'+year).css('display', 'none');
	});
});
</script>
</html>


